## Ignore Visual Studio files
##
## Get latest from https://github.com/github/gitignore/blob/main/VisualStudio.gitignore

## Replace fancy smastsy git .ignore with plain vanilla.

.DS_Store
.DS_Store?
.vscode
.vscode?
